body {
  font-family: "Poppins";
  font-weight: 600;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

element {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

element::-webkit-scrollbar {
  display: none;
}

.container-body {
  background: #00ae9a3b url(./public/Frame\ 1.png) 0 0 no-repeat padding-box;
  background-size: calc(100vw) calc(100vh);
  min-height: 560px;
  max-height: 800px;
}

.hero-text {
  width: 530px;
  flex-shrink: 1;
}

.hero-image {
  width: 600px;
  flex-shrink: 0;
}

.home {
  margin-left: auto;
  color: #00ae9a;
}

.signin {
  font-family: Poppins;
  letter-spacing: 0px;
  color: #00ae9a;
  opacity: 1;
  border: 2px solid #00ae9a;
  border-radius: 32px;
  width: 120px;
}

.screen-content {
  opacity: 1;
}

.screen-main-text {
  font: normal normal 650 54px/65px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.screen-main-text-sub-content {
  font: normal normal 650 54px/65px Poppins;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.start-free-trial {
  background: #00ae9a;
  box-shadow: 0px 3px 30px #00ae9a3b;
}

.start-free-trial-button {
  font: normal normal medium 16px/25px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.start-free-trial-button-2 {
  font: normal normal medium 50px/75px Poppins;
  background-color: white;
  border-radius: 40px;
  color: #00ae9a;
  font-weight: bold;
}

.feature-header {
  color: #00ae9a;
  background-color: white;
}

.feature-box {
  min-width: 280px;
  height: 190px;
  border-radius: 24px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* WebKit and Chromiums */
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.get-start {
  width: 14rem;
  height: 3.5rem;
  background: #00ae9a 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 30px #00ae9a3b;
  border-radius: 18px;
  opacity: 1;
  margin-top: 3rem;
}

.footer {
  background: transparent url(./public/Frame\ 2.png) 0 0 no-repeat padding-box;
  opacity: 1;
  background-position: right 0;
  background-size: cover;
}

.by-txt {
  font-size: xx-small;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: #00ae9a;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.welcome .splash {
  height: 0px;
  padding: 0px;
  border: 130em solid #00ae9a;
  position: fixed;
  left: 50%;
  top: 100%;
  display: block;
  box-sizing: initial;
  overflow-y: hidden;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards,
    borderRadius 0.2s 2.3s linear forwards;
}

.welcome #welcome {
  background: white;
  width: 56px;
  height: 56px;
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
  opacity: 1;
  overflow-y: hidden;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards,
    moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards,
    moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards,
    materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards,
    hide 2s 2.9s ease forwards;
}

.try-image-1 {
  width: 100%;
  background: #00ae9a url("./public/free_trial_bg.png") 0 0 no-repeat
    padding-box;
  background-size: 100% 100%;
  border-radius: 22px;
}

.free-trial-image {
  height: 350px;
}

/* #try-image {
  width: 100%;
  min-height: auto;
} */

@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@keyframes borderRadius {
  0% {
    border-radius: 50%;
  }
  100% {
    border-radius: 0px;
  }
}

@keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@keyframes moveUp {
  0% {
    background: white;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: #00ae9a;
  }
}

@keyframes materia {
  0% {
    background: #00ae9a;
  }
  50% {
    background: #00ae9a;
    top: 26px;
  }
  100% {
    background: white;
    width: 100%;
    height: 124px;
    border-radius: 0px;
    top: 26px;
  }
}

@keyframes moveIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.slider-main {
  height: 8px;
  background: #dcdcdc 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
}
.slider-content {
  background: #00ae9a 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  height: 8px;
}

.prod-text {
  display: flex;
  width: 460px;
  flex-wrap: wrap;
}

.services-section {
  gap: 10rem;
}

.service-image {
  height: 600px;
}

.service-image img {
  width: 750px;
}

@media only screen and (max-width: 1080px) and (min-width: 750px) {
  .free-trial-image {
    height: 300px;
  }

  .hero-text {
    width: 300px;
    flex-shrink: 1;
  }

  .hero-image {
    width: 400px;
  }

  .signin {
    width: 90px;
  }

  .text-para {
    display: none;
  }

  .services-section {
    gap: 0rem;
  }

  .service-image {
    height: 600px;
  }

  .service-image img {
    width: 750px;
  }
}

@media only screen and (max-width: 700px) {
  /* .container-body {
    background: #00ae9a3b;
  } */

  .container-body {
    background: #00ae9a3b url(./public/Frame\ 1.png) 0 0 no-repeat padding-box;
    background-size: calc(100vw) calc(100vw);
  }

  .hero-text {
    width: 100%;
  }

  .hero-image {
    width: 300px;
  }

  .screen-main-text {
    font: normal normal 300 37px/51px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-weight: 700;
    width: 100%;
  }

  .screen-main-text-sub-content {
    font: normal normal 300 37px/51px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  .footer {
    background: #00ae9a0f 0 0 no-repeat padding-box;
    opacity: 1;
    background-position: right 0 bottom 0;
  }

  .signin {
    font: normal normal 600 20px/26px Poppins;
    letter-spacing: 0px;
    color: #00ae9a;
    opacity: 1;
    border: 2px solid #00ae9a;
    border-radius: 32px;
    width: 120px;
  }

  #try-image {
    width: 0%;
    height: 0px;
  }

  .prod-text {
    width: 300px;
  }
}

.spacer {
  aspect-ratio: 900/100;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wave {
  background-image: url("./wave.svg");
}

#left-arrow {
  opacity: 50%;
}

.client-text {
  width: 400px;
}
